.star-color {
    color: #8745dc;
}

.star-large {
    font-size: 40px;
}


.page-header {
    position: relative;
    margin-top: 3%;
    text-align: center;
}
.page-header > .label {
    position: absolute;
    bottom: 0;
}
