.media-object {
    width: 100px;
}

a.plain-link, a.plain-link:focus, a.plain-link:hover {
    text-decoration: none;
    color: #333;
}

html, body {
    height: 100%;
}


#img_chat{
    width: 20%;
}

.form-control:focus {
    border-color: #d463fe;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
    0 0 8px rgba(132, 61, 254, 0.6);
}
