<div id="space"></div>
<div id="container-space">
    <h4><label>{{user.name}}&rsquo;s Prefers</label></h4>
    <ul  class="row container-fluid">
        <li class="well well-sm" ng-repeat="prefer in prefers | filter: {prefer:user.$id} | unique:'video'"><p></p>
            <div ng-repeat="video in videos  |filter: {$id:prefer.video}">
            <a class="plain-link" href="#/videos/{{video.$id}}">
                <h4 class="media-heading"><strong>{{video.titolo}}</strong></h4>
            </a>
                </div>


        </li>
    </ul>

</div>